body {
	margin: 0;
	padding: 0;
}

nav, header, section, footer {
	display:block;
}

img {
	max-width: 100%;
}

.navbar {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	.clearfix();
}

.navbar-menu {
	float: left;
	list-style:none;
	padding: 0;
	margin: 0 0 10px 0;
}

.navbar-menu .navbar-menu-item, .navbar-menu .navbar-menu-item > a {
	margin: 0;
	padding: 6px 12px 6px 0;
	color: @color-base;
	float: left;
}

.navbar-menu .navbar-menu-item.spot .spot-bubble {
	margin: 0 auto;
	height: 1.5em;
	width: 1.5em;
	font-size: 20px;
	padding-bottom: 0px;
	border: solid 1px @color-base-light;
}

.navbar-menu .navbar-menu-item.spot .spot-title {
	font-size: 1em;
	margin-top: 0.25em;
	color: @color-base-light;
}

.navbar-menu .navbar-menu-item.spot .spot-bubble > a {
	color: @color-base-light;
}

.navbar-menu .navbar-menu-item.spot .spot-bubble:after, .navbar-menu .navbar-menu-item.spot .spot-bubble:before {
	content:"";
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;

	border-top: 6px solid @color-base-light;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.navbar-menu .navbar-menu-item.spot .spot-bubble:after {
	bottom: -4px;
	margin-left: -4px;

	border-top: 4px solid white;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}

.main-content {
	background-color: white;
	.clearfix();
	padding: 20px 0;
}

.container {
	margin-bottom: 50px;
}

.jumbotron .jumbotron-content {
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.jumbotron .jumbotron-content .jumbotron-title {
	margin: 0;
}

.jumbotron-title .firstname, .jumbotron-title .lastname {
	display: block;
	float: left;
	width: 50%;
	text-align: right;
	box-sizing: border-box;
	padding-right: 10px;
}

.jumbotron-title .lastname {
	text-align: left;
	padding-left: 10px;
}

.spot-bubble {
	color: white;
	text-align: center;
	line-height: 1.5em;	
	.border-radius();
	display:block;
	position: relative;
}

.spot .spot-bubble {
	border: solid 1px @color-primary;
	color: @color-primary;
	font-size: 150px;
	padding-bottom: 80%;
	margin: 0 auto;
}

.spot-bubble-image {
	display:block !important;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.5em;
	margin-left: -0.5em;
	width: 1em;
	height: 1em;
}

.spot .spot-bubble.actionable:hover .spot-bubble-image {
	color: @color-primary-dark;
	transition: color 0.3s ease;
}

.spot .spot-bubble:after, .spot .spot-bubble:before {
	content:"";
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -8px;

	border-top: 8px solid @color-primary;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.spot .spot-bubble:after {
	bottom: -6px;
	margin-left: -6px;

	border-top: 6px solid white;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.spot .spot-title {
	display: block;
	text-align: center;
	font-size: 2em;
}

.footer-content {
	.clearfix();
	padding-bottom: 100px;
	text-align: center;
	color: @color-base-light;
	font-size: 0.9em;
	font-style: italic;
	padding: 0.5em 20px;
}

.badge {
	.border-radius(50%);
	height: 120px;
	width: 120px;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
}

.badge.small {
	width: 80px;
	height: 80px;
}

.badge.mini {
	width: 55px;
	height: 55px;
}

.badge.sebastian {
	background-image: url('../images/badge.jpg');
}

.badge.map {
background-image: url('../images/map-120.png');	
}

.badge.small.sebastian {
	background-image: url('../images/badge-small.jpg');	
}

.badge.mini.sebastian {
	background-image: url('../images/badge-mini.jpg');	
}

.footer-spot .spot-bubble {
	font-size: 30px;
	height: 1.5em;
	width: 1.5em;
	background-color: #333;
	color:#555;
	margin: auto;
	float: left;
}

.footer-spot .spot-bubble.actionable:hover {
	color: #666;
}

.footer-spot .spot-bubble:after {
	content:"";
	position: absolute;
	top: 50%;
	right: -8px;
	margin-top: -8px;

	border-left: 8px solid #333;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}


/* Responsive overrides */
@media (max-width: 767px) {

	.spot {
		text-align: center;
		font-size: 0.8em;
	}

	.spot .spot-bubble {
		font-size: 75px;
	}

}

@media (max-width: 480px) {

	.navbar-menu {
		float: none;
		display: block;
		.clearfix();
		width: 100%;
	}

	.navbar-menu .navbar-menu-item.spot {
		width: 21%;
		padding-left: 2%;
		padding-right: 2%;
	}

	.spot {
		margin-bottom: 40px;
	}

	.spot .spot-bubble {
		width: 180px;
		height: 140px;
		padding-bottom: 40px;
	}

}