body {
	margin: 0;
	padding: 0;
}

nav, header, section, footer {
	display:block;
}

img {
	max-width: 100%;
}

.page {
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 2em 2em 2em;
	.border-box();
}

.jumbotron .jumbotron-content {
	font-size: 1.5em;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	text-align: center;
}

.jumbotron .jumbotron-content .jumbotron-title {
	margin: 0;
}

.jumbotron-title .firstname, .jumbotron-title .lastname {
    display: inline-block;
    width: 50%;
    text-align: right;
    .border-box();
    padding: 0 0.1em;
}

.jumbotron-title .lastname {
	text-align: left;
}

.navbar, .mainspots {
	text-align: justify;
	&:after {
		content: "";
		display: inline-block;
		width: 100%;
	}
}

.spot {
	text-align: center;
}

.mainspots {
	margin-bottom: 3em;

	.spot {
		display: inline-block;
		max-width: 28%;
		.border-box();
		vertical-align: top;
	}

}

.spot .spot-image {
	display:inline-block;
	&:before {
		font-family: icons;
		font-size: 100px;
	}
}

.spot--blog .spot-image:before {
	content: '\e806';
}

.spot--github .spot-image:before {
	content: '\e800';
}

.spot--twitter .spot-image:before {
	content: '\e801';
}

.spot .spot-title {
	display: block;
	font-size: 2em;
}

.footer-content {
	text-align: center;
	color: @color-base-light;
	font-size: 0.9em;
	font-style: italic;
	padding: 0.5em 20px;
}

.badge {
	.border-radius(50%);
	height: 120px;
	width: 120px;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
}

.badge.sebastian {
	background-image: url('../images/badge.jpg');
}

/* Posts in blog list */

.post {
	padding: 32px 0;
}

.post__title {
	font-size: @font-size-large;
	line-height: 1.25em;
	padding-bottom: 8px;
	display: block;
}

.post__byline {
	color: #bbb;
	padding-bottom: 8px;
	display:block;
}


/* Responsive overrides */
@media (max-width: 767px) {
	.jumbotron-title {
		margin-bottom: 12px;
	}

	.jumbotron-title .firstname, .jumbotron-title .lastname {
		font-size: 25px;
	}

	.jumbotron .jumbotron-content {
		font-size: 18px;
	}

	.spot {
		font-size: 0.8em;
	}

}

@media (max-width: 480px) {

	.jumbotron-title .firstname, .jumbotron-title .lastname {
		padding: 0;
		display: block;
		text-align: center;
		width: 100%;
		float: none;
		line-height: 1.1em;
		font-size: 30px;
	}

	.jumbotron .jumbotron-content .jumbotron-title {
		padding-bottom: 12px;
	}

	.spot {
		margin-bottom: 40px;
	}

	.mainspots {
		text-align: center;
		.spot {
			max-width: 100%;
			width: 100%;
		}
	}
}