.border-radius(@radius: 4px){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.transition(@transition){
  -webkit-transitition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.animation(@animation) {
  -webkit-animation: @animation;
  -moz-animation:    @animation;
  -ms-animation:     @animation;
  -o-animation:      @animation;
}

@-webkit-keyframes opacityanimation {
  0%   { opacity: 0; }
  30%   { opacity: 0; }
  40%   { opacity: 0.2; }
  50%   { opacity: 0.4; }
  60%   { opacity: 0.5; }
  70%   { opacity: 0.4; }
  70%   { opacity: 0.2; }
  80%   { opacity: 0; }
  100%  { opacity: 0; }
}
@-moz-keyframes opacityanimation {
  0%   { opacity: 0; }
  30%   { opacity: 0; }
  40%   { opacity: 0.2; }
  50%   { opacity: 0.4; }
  60%   { opacity: 0.5; }
  70%   { opacity: 0.4; }
  70%   { opacity: 0.2; }
  80%   { opacity: 0; }
  100%  { opacity: 0; }
}
@-ms-keyframes opacityanimation {
  0%   { opacity: 0; }
  30%   { opacity: 0; }
  40%   { opacity: 0.2; }
  50%   { opacity: 0.4; }
  60%   { opacity: 0.5; }
  70%   { opacity: 0.4; }
  70%   { opacity: 0.2; }
  80%   { opacity: 0; }
  100%  { opacity: 0; }
}
@-o-keyframes opacityanimation {
  0%   { opacity: 0; }
  30%   { opacity: 0; }
  40%   { opacity: 0.2; }
  50%   { opacity: 0.4; }
  60%   { opacity: 0.5; }
  70%   { opacity: 0.4; }
  70%   { opacity: 0.2; }
  80%   { opacity: 0; }
  100%  { opacity: 0; }
}