body {
	font: @font-size-base "Segoe UI semilight", Verdana, Helvetica, Sans-Serif;
	color: @color-base;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Segoe UI Light',Helvetica,Arial,'Sans-Serif';
	font-weight: normal;
}

a {
	color: @color-primary;
	text-decoration: none;
}

a:hover {
	color: @color-primary-dark;
}

em {
	color: @color-primary;
}

h1 {
	margin: 0.2em 0;
	font-size: 3em;
}

p {
	margin: 0 0 @horizontal-flow-paragraph 0;
    line-height: 1.45em;
}

@font-face {
  font-family: 'icons';
  src: url('../font/fontello.eot?86305707');
  src: url('../font/fontello.eot?86305707#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?86305707') format('woff'),
       url('../font/fontello.ttf?86305707') format('truetype'),
       url('../font/fontello.svg?86305707#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */