@color-base: #666;
@color-base-light: lighten(@color-base,20);
@color-green: #57ad68;
@color-primary: @color-green;
@color-primary-dark: darken(@color-primary,10);

@font-size-base: 16px;
@font-size-medium: 24px;
@font-size-large: 32px;


@horizontal-flow-paragraph: 1.5em;