<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}{% if page.title %} - {% endif %}{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% if page.type == "post" %}{{ page.excerpt | strip_html }}{% else %}I'm one of those people that code thingamajigs, full stack developer.{% endif %}">

        <meta property="og:type" content="{% if page.type == "post" %}article{% else %}website{% endif %}"/>
        <meta property="og:image" content="http://www.rosengren.me/assets/images/badge.jpg" />
        <meta property="og:description" content="{% if page.type == "post" %}{{ page.excerpt | strip_html }}{% else %}I'm one of those people that code thingamajigs, full stack developer.{% endif %}"/>

        <!--[if lt IE 9]>
           <script>
              document.createElement('nav');
              document.createElement('header');
              document.createElement('section');
              document.createElement('footer');
              document.createElement('article');
              document.createElement('time');
           </script>
        <![endif]-->
        <link rel="stylesheet" href="/assets/styles/rosengren.css">
        
        <script defer data-domain="rosengren.me" src="https://plausible.io/js/plausible.js"></script>

    </head>
    <body>
      <div class="page" id="page">
        <nav class="navbar" id="navbar-menu">
          <div class="navbar-menu navbar-menu--main">
            <a class="navbar-menu-item navbar-menu-title navbar-menu-item--home" href="/">home</a>
            <a class="navbar-menu-item navbar-menu-item--blog" href="/blog">blog</a>
          </div>
          <span class="navbar-menu navbar-menu-contact">
            <a class="navbar-menu-item navbar-menu-item--linkedin" href="http://www.linkedin.com/in/srosengren" target="_blank">LinkedIn</a>
            <a class="navbar-menu-item navbar-menu-item--twitter" href="https://twitter.com/srrosengren" target="_blank">Twitter</a>
            <a class="navbar-menu-item navbar-menu-item--github" href="https://github.com/srosengren" target="_blank">Github</a>
            <a class="navbar-menu-item navbar-menu-item--mail" href="javascript:;" id="mail-link">Mail</a>
          </span>
        </nav>
        <div class="main-content" id="content">
            {{ content }}
        </div>
      </div>
      <script>
        document.getElementById('mail-link').href = 'mailto:' + 'sebastian' + '@' + 'rosengren' + '.me';
      </script>
    </body>
</html>
